@use "../../../../assets/style/variables";

.description {
  font-size: 14px;
  line-height: 1.3;
}

.buttonIcon {
  font-size: 10px;
}

.triggerIcon {
  margin: 0 0 11px 2px;
  color: variables.$colorGray6 !important;
}